doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug con Gulp
        link(rel="stylesheet", href="./css/styles.css")
    body.contenedor  
        h1.red Pug con Gulp 
        p.blue Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti esse eligendi soluta repellendus hic, nam sed ipsam iste nisi dolore corporis id. Autem soluta dignissimos consequatur quisquam. Repudiandae, quidem eligendi? 
        p.green Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti esse eligendi soluta repellendus hic, nam sed ipsam iste nisi dolore corporis id. Autem soluta dignissimos consequatur quisquam. Repudiandae, quidem eligendi? 
        p.grey Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti esse eligendi soluta repellendus hic, nam sed ipsam iste nisi dolore corporis id. Autem soluta dignissimos consequatur quisquam. Repudiandae, quidem eligendi? 