/**** @Author: Francisco Zapata ****/


/** Reset the document **/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: x mandatory;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}


/** Custom Properties **/

:root {
    --blanco: #fff;
    --negro: #000;
}


/** Globals **/

body {
    font-size: 16px;
    background-color: #fff;
    margin: 10px 20px 10px 20px;
    color: red;
    z-index: 2;
}

img {
    width: 100%;
}

.contenedor {
    width: 90%;
    max-width: 110rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contenedor {
        width: 80%;
    }
}

.box {
    display: flex;
}

.box-2 {
    display: flex;
}